@charset "UTF-8";

/*
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
*/

:root {
 /*
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Tilt Warp', cursive;
    --fonte3: 'Cabin Sketch', cursive;
*/}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
    flex: 1 1 100vw;
}

header, nav, main, aside, footer {
    background: #a1a1a1;
    display: flex;
    margin: 3px;
}
/* Design Resposivo Simples*/

/*
header {
    flex: 1 1 100vw;
}

nav {
    flex: 1 1 200px;
}

main {
    flex: 20 1 500px;
}

aside {
    flex: 1 1 200px;
}

footer {
    flex: 1 1 100vw;
}
*/

/* Design Resposivo Simples - Folha Fixa*/
/*
header {
    flex: 1 1 100vw;
    height: 100px;
}

nav {
    flex: 1 1 200px;
}

main {
    flex: 20 1 500px;
    height: calc(100vh - 224px);
}

aside {
    flex: 1 1 200px;
}

footer {
    flex: 1 1 100vw;
    height: 100px;
}

@media only screen and (max-width:923px) {
    main {
        height: calc(100vh - 330px);
    }

    aside {
        flex: 1 1 100vw;
        height: 100px;
    }
}
@media only screen and (max-width:717px) {
        nav {
            height: 100px;
        }
    
        main {
            height: calc(100vh - 436px);
        }
}
*/

header {
    flex: 1 1 100vw;
    height: 100px;
}

nav {
    flex: 1 1 100vw;
    height: 100px;
    /*Alinha na vertical*/
    align-items: center;
    /*Alinha na horizontal*/
    justify-content: center;
}

nav a {
    margin: 5%;
    font-size: 20pt;
}

main {
    flex: 20 1 500px;
    height: calc(100vh - 224px);
}

aside {
    flex: 1 1 200px;
}

footer {
    flex: 1 1 100vw;
    height: 100px;
}

a {
    text-decoration: none;
    color: inherit;
}


@media only screen and (max-width:923px) {
    main {
        height: calc(100vh - 436px);
    }

    aside {
        flex: 1 1 100vw;
        height: 100px;
    }
}

